.App{
    display: flex;
    align-items: center;
}

.result span{
    font-size: 25px;
}

button{
    font-size: 14px;
    font-weight: bold;
    padding: 7px 20px;
    cursor: pointer;
}
